PORT=5000
MONGO_URI=mongodb+srv://monisha31:Moni1234a@cluster0.izkijnd.mongodb.net/complaint_management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=mySuperSecretKey12345
JWT_EXPIRES_IN=7d

